
        
        <div id="gallerycont" class="clearfix">
            <div class="coda-slider preload" id="gallery">
                <div class="panel">
                    <div class="panel-wrapper">
                        <div class="panelleft">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Sed volutpat ante id mauris laoreet vestibulum. Nam blandit felis non neque cursus aliquet.</p>
                            <p>Morbi vel enim dignissim massa dignissim commodo vitae quis tellus. Nunc non mollis nulla. Sed consectetur elit id mi consectetur bibendum. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
                        </div>
                        <div class="panelright">
                            <img alt="" src="images/gallery-image.jpg" />
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-wrapper">
                        <div class="panelleft">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Sed volutpat ante id mauris laoreet vestibulum. Nam blandit felis non neque cursus aliquet.</p>
                            <p>Morbi vel enim dignissim massa dignissim commodo vitae quis tellus. Nunc non mollis nulla. Sed consectetur elit id mi consectetur bibendum. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
                        </div>
                        <div class="panelright">
                            <img alt="" src="images/gallery-image.jpg" />
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-wrapper">
                        <div class="panelleft">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Sed volutpat ante id mauris laoreet vestibulum. Nam blandit felis non neque cursus aliquet.</p>
                            <p>Morbi vel enim dignissim massa dignissim commodo vitae quis tellus. Nunc non mollis nulla. Sed consectetur elit id mi consectetur bibendum. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
                        </div>
                        <div class="panelright">
                            <img alt="" src="images/gallery-image.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
         